<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="../src/loading-spinner.css">
    <style>
        .content {
            background: rgb(97, 143, 205);
            height: 100px;
            width: 400px;
            margin: 15px auto;
            color: red;
        }
        
        sarsha-spinner span {
            display: block;
        }
        
        table {
            margin-top: 15px;
        }

        table td{
            padding: 10px;
        }
    </style>
</head>

<body ng-app="app" ng-controller="appCtrl as $ctrl">
    <div>
        <button ng-click="$ctrl.spinner.showAll()">show all</button>
        <button ng-click="$ctrl.spinner.closeAll()">close all</button>
    </div>
    <div>
        <button ng-click="$ctrl.spinner.show('spinner1')">open 1</button>
        <button ng-click="$ctrl.spinner.close('spinner1')">close 1</button>
    </div>
    <div class="content">
        <div>
            <span>Content 1</span>
        </div>
        <sarsha-spinner name="spinner1">
            <span>This is custom content</span>
            <span>Whoo hoooo !</span>
        </sarsha-spinner>
    </div>
    <button ng-click="$ctrl.spinner.show('spinner2')">open 2</button>
    <button ng-click="$ctrl.spinner.close('spinner2')">close 2</button>
    <div>
        <sarsha-spinner name="spinner2"></sarsha-spinner>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Data</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in $ctrl.data">
                    <td>{{row.title}}</td>
                    <td>{{row.data}}</td>
                    <td>{{row.date | date}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="angular.min.js"></script>
    <script src="angular-animate.min.js"></script>
    <script src="loading-spinner.min.js"></script>
    <script src="app.js"></script>
</body>

</html>