.sarsha-spinner-container{
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(227, 223, 223, 0.47);
    z-index: 99999;
    color: white; 
    text-align: center;
}

.sarsha-spinner-container.ng-enter, .sarsha-spinner-container.ng-leave {
  transition:all ease-in-out 0.4s;
}

.sarsha-spinner-container.ng-enter,
.sarsha-spinner-container.ng-leave.ng-leave-active {
  opacity:0;
}

.sarsha-spinner-container.ng-leave,
.sarsha-spinner-container.ng-enter.ng-enter-active {
  opacity:1;
}

.sarsha-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    margin: 0 auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
